body {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

p {
    columns: #8f8f8f;
}

.Big-heading{
    /* font-family: 'Montserrat', sans-serif; */
    font-weight: 900;
    font-size: 4rem;
    line-height: 1.5;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

.white-section {
    background-color: #fff;
}

.colored-section {
    background-color: #ff4c68;
    color: #fff;
}

.container-fluid{
    padding: 7% 15%;
}


/* Navigation Bar */

.navbar {
    padding: 0 0 4.5%;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;;
    font-weight: bold;
    font-size: 2.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat-Light', sans-serif;
}

/* Download-button */

.download-button {
    margin: 5% 3% 5% 0;
}

/* Titel Section */

#title .container-fluid {
    text-align:left;
    padding: 3% 15% 7%;
}

/* Title Image */

.title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right:30%;
}

@media (max-width:1028px) {
    #title{
        text-align:center;
    }

    .title-image{
        position: static;
        transform: rotate(0deg);
        height: 500px;
        width: 300px;
    }
}

/* Features */

#features {
    /* z-index: 1; */
    position: relative;
}

.feature-title {
    font-size: 1.5rem;
}

.feature-box {

    padding: 4.5%;
}

.feature-icons {
    color: #ef8172;
    margin-bottom: 1rem;
}

.feature-icons:hover {
    color: #ff4c68;
}

/* Testimonial Section */

#testimonials {
    background-color: #ef8172;
}

.testomonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 20%;
    border-radius: 100%;
    padding: 20px;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing */

#pricing {
    padding: 100px;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-heading {
    font-size: 1.5rem;
}

.pricing-column {
    padding: 3% 2%;
}

/* Cta */

#cta {
    width: 70%;
    margin: auto;
    width: 100%;
}

.cta-heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    line-height: 1.5;
    font-size: 3.5rem;
}

/* Footer */

.footer-logos {
    margin: 30px 10px;
}
